@import 'partials/variables';
@import 'partials/mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

.input {
    outline: 0;
    border: 0;
}

.input-field {
    @extend .input;
    @include border($color-secondary);
    padding: 0.8rem 1rem;
}

button {
    @extend .input;
    @include border($color-primary);
    font-weight: 700;
    padding: 0.8rem 2rem;
    cursor: pointer;
}

.todo-app {
    width: 40%;
    margin: 5rem auto;
    padding: 1rem 2rem 6rem 2rem;
    @include border($border-color);

    h2 {
        text-align: center;
    }

    .todo-form {
        @include flex($gap: 0, $justify: center);
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .display-todos {

        h3 {
            @include font-sizing($font-large, $color-primary, 700);
            border-bottom: 1px solid $color-secondary;
            margin-bottom: 1rem;
        }

        .todos-cards {
            @include flex(0.5rem, column, stretch, stretch);

            .todo-card {
                @include flex;
                padding: 0.5rem 0;
                border-bottom: 1px solid $border-light;

                p {
                    @include font-sizing($font-normal, $text-color-primary);
                }

                .todo-actions {
                    @include flex;

                    button {
                        padding: 0.3rem;
                        font-weight: 400;
                    }

                    .update-btn {
                        background-color: $color-primary;
                        color: white;
                    }

                    .delete-btn {
                        color: rgb(234, 31, 31);
                    }
                }
            }
        }
    }
}









// Responsive
@media screen and (max-width: 767px) {
    .todo-app {
        width: 95%;
    }
}