$border-color: rgb(222, 222, 222);
$border-light: rgb(239, 239, 239);
$color-primary: rgb(124, 108, 229);
$color-secondary: rgb(152, 139, 231);
$bg-primary: rgb(189, 189, 189);

// Text color
$text-color-primary: #000000;

// Font sizes
$font-large: 1.125rem; //18px
$font-normal: 1rem; //16px
$font-small: 0.875rem; //12px